name = "diffeq"
version = "1.1.3"
license = "GPL-3.0"
author = "Jason Christopherson"
maintainer = "Jason Christopherson"
copyright = "Copyright 2023-2025, Jason Christopherson"
description = "A modern Fortran library providing an object-oriented approach to solving ordinary differential equations."
homepage = "https://github.com/jchristopherson/spectrum"

[library]
source-dir = "src"

[fortran]
source-form = "default"
implicit-external = true

[dependencies]
ferror = { git = "https://github.com/jchristopherson/ferror" }
linalg = { git = "https://github.com/jchristopherson/linalg" }

[dev-dependencies]
fortran_test_helper = { git = "https://github.com/jchristopherson/fortran_test_helper" }

[install]
library = true

[build]
link = ["blas", "lapack"]
auto-executables = false
auto-examples = false
auto-tests = false

[[test]]
name = "diffeq_tests"
source-dir = "test"
main = "diffeq_test.f90"